.App {
    font-family: sans-serif;
    text-align: center;
}

.modal-custon {
    margin: auto;
    width: 50%;
    background-color: white;
    border: solid 1px grey;
    padding: 10px;
}
.centered {
    margin: auto;
    width: 50%;
    padding: 10px;
}
